section {
  display: flex;
  justify-content: space-between;
}

#soap-left, #soap-right {
  width: calc(50% - 20px);
  padding: 24px 0;
}

nz-form-label {
  width: 135px;
  text-align: left;
}

.soap-io-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  button {
    width: 220px;
  }
}

#soap-left {
  p {
    font-weight: 700;
    margin-bottom: 0;
  }

  button {
    margin-left: 4px;
  }
}
