// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
section
  #soap-left
    form(nz-form, [formGroup]="form")
      h1 Give your code some context
      nz-form-item
        nz-form-label(nzFor="moduleName")
          span Module name
        nz-form-control(nzHasFeedback)
          input(nz-input, type="text", id="moduleName", formControlName="moduleName", placeholder="My first module")
      nz-form-item
        nz-form-label(nzFor="language")
          span Select language
        nz-form-control(nzHasFeedback)
          nz-select(id="language", formControlName="language", nzPlaceHolder="Programming language")
            nz-option(*ngFor="let language of languages", [nzValue]="language", [nzLabel]="language.name")
      nz-form-item
        nz-form-label(nzFor="dependencies")
          span Code dependencies
        nz-form-control(nzHasFeedback)
          textarea(rows="4", nz-input, id="dependencies", formControlName="dependencies", [placeholder]="'The content of your ' + selectedPackage")
      .soap-io-title
        p Inputs
        button(nz-button, nzType="default", (click)="addInput()")
          i(nz-icon, nzType="plus", nzTheme="outline")
          | Add input to your code
      div(formArrayName="inputs", *ngFor="let input of formInputs.controls; let i=index")
        nz-form-item([formGroupName]="i")
          nz-form-label([nzFor]="'inputName' + i")
            span Input name {{ i }}
          nz-form-control(nzHasFeedback)
            input(nz-input, type="text", [id]="'inputName' + i", formControlName="name", placeholder="Input name")
          nz-form-control(nzHasFeedback)
            nz-select([id]="'inputType' + i", formControlName="type", nzPlaceHolder="Input type")
              nz-option(*ngFor="let option of typeList", [nzValue]="option.value", [nzLabel]="option.name")
          button(nz-button, nzType="primary", nzDanger, (click)="removeInput(i)")
            i(nz-icon, nzType="close", nzTheme="outline")

      .soap-io-title
        p Outputs
        button(nz-button, nzType="default", (click)="addOutput()")
          i(nz-icon, nzType="plus", nzTheme="outline")
          | Add output to your code
      div(formArrayName="outputs", *ngFor="let output of formOutputs.controls; let i=index")
        nz-form-item([formGroupName]="i")
          nz-form-label([nzFor]="'outputName' + i")
            span Output {{ i }}
          nz-form-control(nzHasFeedback)
            input(nz-input, type="text", [id]="'outputName' + i", formControlName="name", placeholder="Output name")
          nz-form-control(nzHasFeedback)
            nz-select([id]="'outputType' + i", formControlName="type", nzPlaceHolder="Output type")
              nz-option(*ngFor="let option of typeList", [nzValue]="option.value", [nzLabel]="option.name")
          button(nz-button, nzType="primary", nzDanger, (click)="removeOutput(i)")
            i(nz-icon, nzType="close", nzTheme="outline")
      button(nz-button, nzType="primary", (click)="saveMetadata()", [disabled]="form.invalid") Save metadata

  #soap-right

