// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
form(nz-form, [formGroup]="form")
  nz-form-item(*ngFor="let input of config", [formGroupName]="input.id")
    nz-form-label([nzFor]="input.name")
      span {{ input.name }}
    nz-form-control.soap-input(*ngIf="!(isCurrentStepSource$ | async)")
      nz-select(formControlName="linked")
        nz-option([nzValue]="true", nzLabel="link")
        nz-option([nzValue]="false", nzLabel="input")
    nz-form-control
      ng-container(*ngIf="form.get(input.id + '.linked')!.value === false; else linkSelector")
        input(*ngIf="input.inputType === 'string'", nz-input, type="text", [id]="input.name", formControlName="value")
        input(*ngIf="input.inputType === 'password'", nz-input, type="password", [id]="input.name", formControlName="value")
        nz-input-number(*ngIf="input.inputType === 'integer' || input.inputType === 'float'", [id]="input.name", formControlName="value")
        textarea(*ngIf="input.inputType === 'longstring'", rows="4", nz-input, [id]="input.name", formControlName="value")
        nz-select(*ngIf="input.inputType === 'enum'", [id]="input.name", formControlName="value")
          nz-option(*ngFor="let option of input.options", [nzValue]="option.name", [nzLabel]="option.name")
        div(*ngIf="input.inputType === 'file' || input.inputType === 'directory'")
          ng-container(*ngIf="form.get(input.id + '.value')!.value as formValue; else uploadButton")
            | File uploaded : {{ formValue }}
            button#ryax-remove-file(nz-button, nzType="primary", nzDanger, (click)="removeFile(input.id)")
              i(nz-icon, nzType="delete", nzTheme="outline")
          ng-template(#uploadButton)
            ng-container(*ngIf="(ids$ | async) as ids")
              nz-upload([nzAction]="'/api/studio/workflows/' + ids[0] + '/modules/' + ids[1] + '/inputs/' + input.id + '/file'", (nzChange)="handleChange($event, input.id)")
                button(nz-button, nzType="primary") Upload {{ input.inputType === 'file' ? 'file' : 'directory' }}
      ng-template(#linkSelector)
        nz-select(formControlName="value", nzPlaceHolder="Choose a previous module output" )
          nz-option-group(*ngFor="let group of previousOutputs$ | async | filterByType : input.inputType", [nzLabel]="group.groupName")
            nz-option(*ngFor="let value of group.values", [nzValue]="value.value", [nzLabel]="value.name")
    help(nz-icon, nzType="question-circle", nzTheme="outline", nz-tooltip, [nzTooltipTitle]="input.help", nzTooltipPlacement="topRight")
