:host {
  display: block;
}

nz-form-label {
  width: 100%;
  text-align: left;
}

#soap-center-button {
  width: 100%;
  text-align: center;
}

nz-input-number {
  width: 100%;
}

button.ryax-auth {
  margin-top: 12px;
}

.soap-input {
  flex: 0;
  margin-right: 4px;

  nz-select {
    min-width: auto;
  }
}

help {
  font-size: 20px;
  text-align: center;
  margin: 8px;
  color: gray;
}
