// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
ng-container(*ngIf="!(loading$ | async); else loadingComponent")
  nz-avatar(nzIcon="user", [nzSize]="200")
  ng-container(*ngIf="!changingPassword && !changingName && !changingEmail")
    h1 {{(user$ | async)?.name}}
    #ryax-user-settings-info
      p
        span Email:
        | {{(user$ | async)?.email}}
      p
        span Role:
        | {{(user$ | async)?.role}}
      p
        span Comment:
        | {{(user$ | async)?.comment}}

    #ryax-buttons
      button(nz-button, nzType="primary", nzSize="large", nzGhost, (click)="changingName=true") Edit User name
      button(nz-button, nzType="primary", nzSize="large", nzGhost, (click)="changingPassword=true") Edit Password
      button(nz-button, nzType="primary", nzSize="large", nzGhost, (click)="changingEmail=true") Edit Email
  ryax-user-change-password(*ngIf="changingPassword", (changingPasswordDone)="changingPassword=false")
  ryax-user-change-email(*ngIf="changingEmail", [user$]="user$", (changingEmailDone)="changingEmail=false")
  ryax-user-change-username(*ngIf="changingName", (changingNameDone)="changingName=false")
ng-template(#loadingComponent)
  #loading
    nz-spin([nzSpinning]="loading$ | async", nzSize="large")
