// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
ng-container(*ngIf="module")
  label Action ID
  p {{ module.id }}

  label Full name
  p {{ module.name }}

  label Version
  nz-select([formControl]="currentVersion")
    nz-option(*ngFor="let version of module.versions", [nzValue]="version.name", [nzLabel]="version.name")

  label Description
  p {{ module.description }}

  label Kind
  nz-tag {{ module.kind }}

  label Categories
  nz-tag(*ngFor="let cat of module.categories")
    | {{ cat.name }}
