// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-spin([nzSpinning]="loading$ | async", nzTip="Loading projects...")
  h1 Choose a project to activate
  ul
    li(*ngFor="let project of projects$ | async")
      nz-card([nzBorderless]="true")
        h3 {{ project.name }}
        ng-container(*ngIf="project.current else activate")
          p#ryax-active Active
        ng-template(#activate)
          button(nz-button, (click)="activateProject(project.id)") Activate
