nz-spin {
  margin-top: 28px;
  height: calc(100vh - 108px);
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: calc(33.333% - 16px);
  margin: 8px;
}

nz-card {
  box-shadow: 0 2px 4px rgba(26, 15, 61, 0.2);
  border-radius: 8px;
}

#ryax-active {
  font-weight: bold;
  margin: 1em 0 .5em;
}
