// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
button(nz-button, [nzType]="type", [nzDanger]="danger", [nzSize]="size", [nzShape]="shape", [nzLoading]="loading",
  [disabled]= "disabled", [nzGhost]="ghost", (click)="clicked($event)") {{ text }}
