@import "variables";

:host {
  display: block;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $grey3;
}

#soap-panel-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 20px 8px;
  gap: 8px;
}

h1 {
  margin: 0;
}

.soap-module-list {
  margin-top: 8px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  nz-card {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: all .5s;
    transform-origin: center center;

    &:hover {
      transform: scale(1.08);
      color: white;
      background-color: $primary4;
    }
  }
}

nz-tabset {
  padding: 0 20px;
}

#soap-user-code {
  display: flex;
  justify-content: center;
}
