section {
  display: flex;
  justify-content: space-between;
}

#soap-left, #soap-right {
  width: calc(50% - 20px);
  padding: 24px 0;
}

#soap-left {
  img {
    display: block;
    width: calc(100% - 24px);
    max-width: 600px;
    margin-bottom: 34px;
    margin-left: 24px;
  }

  h1 {
    margin-left: 24px;
  }

  p {
    font-size: 1rem;
    margin: 0 0 0 24px;
  }
}

#soap-right {
  h1 {
    font-weight: 600;
  }

  nz-input-group {
    width: 80%;
    margin: 62px auto 84px;
    display: flex;

    button {
      margin-left: 8px;
    }
  }

  nz-upload {
    margin-top: 48px;
    display: block;
    height: 200px;
  }
}

