// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
section
  #soap-left
    ng-container(*ngIf="(existingGits$ | async)!.length > 0 else noGits")
      ul
        li(*ngFor="let git of (existingGits$ | async)")
          | {{ git.name }}
    ng-template(#noGits)
      img(src="assets/dev2.jpg")

      h1 Bring your code to life!
      p As you've already seen, Ryax is just about combining bricks of code.
      p Now is time for you to create your owns!

  #soap-right
    h1 Load from a repo

    nz-input-group(nzSize="large")
      input(type="text", nz-input, placeholder="your-git.git", [(ngModel)]="gitUrl")
      button(nz-button, nzType="primary", nzSize="large", (click)="loadGit()") Load

    h1 ... or drop some code here!

    nz-upload(nzType="drag", [nzMultiple]="true", (nzChange)="fileDropped($event)")
      p.ant-upload-drag-icon
        i(nz-icon, nzType="inbox")
      p.ant-upload-text Click or drag file to this area to upload
      p.ant-upload-hint Choose something you could easily run from a CLI
