@import "variables";

section {
  display: flex;
  justify-content: space-between;
}

#soap-left, #soap-right {
  width: calc(50% - 20px);
  padding: 24px 0;
}

#soap-right {
  img {
    display: block;
    width: calc(100% - 48px);
    max-width: 600px;
    margin: 34px auto;
  }

  h1 {
    margin-left: 24px;
  }

  p {
    font-size: 1rem;
    margin: 0 0 0 24px;
  }

  nz-table {
    width: 500px;
    max-height: calc(50vh - 270px);
    overflow: auto;
    margin: 0 auto 18px;
    border: 1px solid $grey3;
  }
}

#soap-left {
  h1 {
    margin: 0 24px 18px;
  }

  .soap-actions {
    width: 105px;
  }

  nz-table {
    width: 500px;
    max-height: calc(100vh - 400px);
    overflow: auto;
    margin: 0 auto;
    border: 1px solid $grey3;
  }
}
