// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
section
  #soap-left
    h1 Select the module you want to create
    nz-table(#notBuilt, [nzData]="(notBuilt$ | async)!", nzSize="small", [nzShowPagination]="false", [nzPageSize]="1000")
      tbody
        tr(*ngFor="let module of notBuilt.data")
          td {{ module.name }}
            //ryax-git-content-icon([type]="module.type", [fileName]="module.name")
          td.soap-actions
            button(nz-button, nzType="primary", (click)="selectScannedModule(module)", nzSize="small") Build

  #soap-right
    ng-container(*ngIf="(alreadyBuilt$ | async)!.length > 0")
      h1 You already built from this repo ...
      nz-table(#alreadyBuilt, [nzData]="(alreadyBuilt$ | async)!", nzSize="small", [nzShowPagination]="false", [nzPageSize]="1000")
        tbody
          tr(*ngFor="let module of alreadyBuilt.data")
            td {{ module.name }}

    h1 Work smart, not hard!
    p You can select any file in it you want us to run for you or even select a whole directory.
    p You will tell us how to run it in next steps and we'll provide you some tools to bring it to the next level.

    img(src="assets/work-smart.jpg")


