ryax-upload::ng-deep .ant-upload.ant-upload-drag {
  background: white;
  border-style: solid;
}

nz-form-label {
  padding: 0 !important;

  &::ng-deep > label {
    height: auto;
  }

  span {
    font-size: 0.8125rem;
  }
}

nz-input-number {
  width: 100%;
}

.ryax-help {
  display: inline-block;
  margin-left: 6px;
}

.ryax-buttons {
  margin-top: 40px;
  justify-content: flex-end;

  button {
    flex: 1 1 0;
  }

  button:first-child {
    margin-right: 16px;
  }
}
