// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-steps(nzType="navigation", [nzCurrent]="(panelIndex$ | async)!", (nzIndexChange)="onIndexChange($event)")
  nz-step(*ngFor="let step of panels$ | async", [nzTitle]="step.title", [nzStatus]="step.status", [nzDisabled]="step.disabled")

ryax-import-git(*ngIf="(panelIndex$ | async) === 0")
ryax-import-code-select(*ngIf="(panelIndex$ | async) === 1")
ryax-import-define-metadata(*ngIf="(panelIndex$ | async) === 2")
ryax-import-build(*ngIf="(panelIndex$ | async) === 3")
