:host > nz-card {
  height: 150px;
  box-shadow: 0 2px 4px rgba(26, 15, 61, 0.2);
  border-radius: 8px;
  background: url("../../../../../assets/wf-background.png") no-repeat bottom right;

  &::ng-deep > .ant-card-body {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 1;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    //overflow: hidden;
  }

  p {
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 700;
  }

  span {
    font-weight: normal;
  }
}
