// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-card([nzBorderless]="true")
  div
    h3 {{ workflow.name }}
    ryax-deployment-tag([status]="workflow.deploymentStatus")
  p Endpoint:&nbsp;
    span {{ workflow.endpoint }}
