// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
ng-container(*ngIf="executionList$ | async as execList")
  nz-table([nzData]="execList", #executionTable, (nzQueryParams)="getListPart($event)", [nzPageSize]="10", [nzPageIndex]="1",
    [nzOuterBordered]="true", nzSize="middle", [nzTotal]="(executionTotal$ | async)!",
    [nzFrontPagination]="false", [nzLoading]="executionLoading$ | async")
    thead
      tr
        th Run ID
        th Start date
        th Duration
        th Step
        th State
    tbody
      tr(*ngFor="let execution of executionTable.data", [routerLink]="'/execution/historic/' + execution.id" )
        td {{ execution.id }}
        td {{ execution.startedAt | dateTimeToFormat : 'd/M/yy t' }}
        td {{ execution.duration }}
        td {{ execution.step }} / {{ execution.totalSteps }}
        td
          ryax-status-tag([status]="execution.status")
