// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
div(*ngIf="(execution$ | async) as execution", nz-row)
  aside(nz-col, nzSpan="10")
    ryax-is-logged
      a(routerLink="/workflow/{{execution.workflowId}}", nz-button, [nzGhost]="true", nzType="default")
        i(nz-icon, nzType="arrow-left", nzTheme="outline")
        | Workflow description
    div
      h1 Execution {{ execution.id }}
    ryax-status-tag([status]="execution.status")
    span {{ execution.startedAt | dateTimeToFormat : 'd/M/y t' }}

    button#ryax-toggle(nz-button, nzType="primary", nzGhost="true", (click)="toggleAllDetails()") {{ areAllDetailsOpen() ? 'Hide' : 'View' }} all outputs
    button#ryax-result(nz-button, nzType="primary", nzGhost="true", (click)="displayResults()") See results

    ul
      li(*ngFor="let moduleExec of execution.moduleExecutions")
        ryax-status-icon([status]="moduleExec.status")
        | {{ moduleExec.name }}

  section(nz-col, nzSpan="14")
    ryax-timeline([startColor]="execution.status | statusBarColor : 'start'", [endColor]="execution.status | statusBarColor : 'end'")
      ryax-timeline-item(*ngFor="let moduleExec of execution.moduleExecutions; let index = index; trackBy: trackByFn",
        [color]="moduleExec.status | statusBarColor : 'item'", [status]="moduleExec.status")
        ryax-module-execution-card(
          [moduleExecution]="moduleExec", [(showDetails)]="showAllDetails[index]",
          [logs]="(logs$ | async)![index]", (getLogs)="getLogs(index)"
        )

nz-modal([(nzVisible)]="showResults", nzTitle="Results", (nzOnCancel)="handleCancel()", [nzFooter]="modalFooter")
  ng-container(*nzModalContent)
    p {{ resultUrl }}
    ryax-console-display {{ (results$ | async) || "This run sent no result" }}

ng-template(#modalFooter)
  button(nz-button, nzType="default", (click)="handleCancel()") Close
