@import "variables";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-top: 132px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before, &::after {
    content: '';
    display: block;
    width: 2px;
    background-size: 300% 300%;
    background-image: linear-gradient(180deg, $red5 33%, $primary4 66%);
    transition: background-position 2s;
  }

  &::before {
    position: absolute;
    top: 0;
    height: 145px;
    left: 9px;
  }

  &::after {
    flex: 1;
    min-height: 100px;
    margin-left: 9px;
    transition-delay: .5s;
  }

  &.ryax-start-red::before, &.ryax-end-red::after {
    background-position: top;
  }

  &.ryax-start-purple::before, &.ryax-end-purple::after {
    background-position: bottom;
  }

  &.ryax-start-gradient::before, &.ryax-end-gradient::after {
    background-position: center;
  }
}
