// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-card([nzTitle]="titleTemplate", [nzExtra]="extraTemplate", [nzBodyStyle]="{ padding: 0, display: 'flex', 'align-items': 'center' }")
  nz-collapse([nzGhost]="true", nz-row)
    nz-collapse-panel([nzDisabled]="true", [nzShowArrow]="false", [nzActive]="showDetails")
      .ryax-execution-details
        div
          p
            label SUBMITTED AT
            | {{ moduleExecution.submittedDate | dateTimeToFormat : dateFormat }}
        div
          p
            label STARTED AT
            | {{ moduleExecution.startedDate | dateTimeToFormat : dateFormat }}
          p
            Label DURATION
            | {{ getDuration() | durationToFormat : 'mm\'m\' ss.SSS\'s\'' }}
        label INPUT
        ryax-module-execution-ios([data]="moduleExecution.inputs")
        label OUTPUT
        ryax-module-execution-ios([data]="moduleExecution.outputs")
      nz-collapse([nzGhost]="true")
        nz-collapse-panel.ryax-logs(nzHeader="See logs", (nzActiveChange)="getLogsTrigger()")
          nz-spin([nzSpinning]="!logs")
            ryax-console-display {{ logs }}

ng-template(#titleTemplate)
  .ryax-card-content
    .ryax-module-icon
      img([src]="'/api/studio/static/logo/' + moduleExecution.definitionId")
    div
      p.ryax-card-title {{ moduleExecution.name }}
      span.ryax-card-version {{ moduleExecution.version }}
      p.ryax-card-description {{ moduleExecution.description }}

ng-template(#extraTemplate)
  a.ryax-details((click)="toggleDetails()") {{ showDetails ? 'Hide' : 'View' }} details
