// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
form(nz-form)
  nz-form-item
    nz-form-label(nzFor="endpoint")
      span Endpoint
    input(nz-input, type="text", id="endpoint", placeholder="/url", [formControl]="form")
