i {
  font-size: 20px;
  vertical-align: text-bottom;

  &.ryax-purple {
    color: #7A52CA
  }

  &.ryax-processing {
    color: #7A52CA
  }

  &.ryax-success {
    color: #52B515
  }

  &.ryax-warning {
    color: #FF9000
  }

  &.ryax-error {
    color: #F1312F
  }

  &.ryax-default {
    color: #C7A8F6
  }
}
