#ryax-layout {
  margin: 0 10px;
  max-width: 100%;

  @media (min-width: 576px) {
    margin: 0 10px;
    max-width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 800px) {
    margin: 0 auto;
    max-width: 760px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 1040px) {
    max-width: 980px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1280px) {
    max-width: 1200px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1600px) {
    max-width: 1520px;
  }
}
