// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-select(nzPlaceHolder="Select")
  nz-option(nzValue="jack", nzLabel="Jack")
  nz-option(nzValue="lucy", nzLabel="Lucy")
  nz-option(nzValue="disabled", nzLabel="Disabled", nzDisabled)
