:host {
  display: block;
  padding: 60px 0;
}

h1 {
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 24px;
}

span {
  display: block;
  font-size: 0.625rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 24px;
}

a {
  margin-bottom: 24px;
}
