// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-input-group([nzSuffix]="isUploadZone ? undefined : hasFile ? deleteIcon : uploadIcon")
  input(*ngIf="!isUploadZone", type="text", nz-input, placeholder="No file", readonly, [value]="fileName", [disabled]="isDisabled")

ng-template(#uploadIcon)
  nz-upload(*ngIf="!isDisabled", [nzBeforeUpload]="onInputChange", [nzListType]="listType")
    i(nz-icon, nzType="upload")

nz-upload(*ngIf="!isDisabled && isUploadZone", [nzBeforeUpload]="onInputChange", [nzListType]="listType", nzType="drag",
  [nzDirectory]="nzDirectory", [(nzFileList)]="fileList")
  p(class="ant-upload-drag-icon")
    i(nz-icon, nzType="upload")
  p(class="ant-upload-text") {{ fileName ? fileName :"Click or drag file to this area to upload" }}

ng-template(#deleteIcon)
  i(*ngIf="!isDisabled",  nz-icon, nzType="close-circle", (click)="clearFile()")

