// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
ryax-timeline([startColor]="timelineColor", [endColor]="timelineColor", *ngIf="(workflow$ | async) as workflow")
  ryax-timeline-item([color]="timelineColor", *ngFor="let module of workflow.modules; let i = index", [position]="i + 1" )
    nz-card([nzBodyStyle]="{ padding: 0, display: 'flex', 'align-items': 'center' }")
      .ryax-module-icon
        img([src]="'/api/studio/static/logo/' + module.definitionId")
      div
        p.ryax-card-title {{ module.name }}
        span.ryax-card-version {{ module.version }}
        p.ryax-card-description(*ngIf="i === 0") Endpoint: {{ endpoint$ | async }}
        p.ryax-card-description(*ngIf="i !== 0") {{ module.description }}
