@import "variables";

ryax-timeline ::ng-deep ul {
  min-height: calc(100vh - 80px);
}

nz-card {
  border-radius: 8px;
  margin-bottom: 32px;
  width: 100%;
  overflow: hidden;

  .ryax-module-icon {
    margin-right: 16px;
    position: relative;

    &::after {
      box-shadow: inset 0 0 5px $grey4;
      pointer-events: none;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img {
      min-height: 72px;
      width: 72px;
    }
  }

  .ryax-card-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
    display: inline-block;
  }

  .ryax-card-version {
    font-size: 0.6875rem;
    color: $grey5;
    margin-left: 16px;
    display: inline-block;
  }

  .ryax-card-description {
    font-size: 0.8125rem;
    color: $grey7;
    margin: 0;
  }
}
