// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
.soap-building([class.soap-display]="loading")
  h1 Building ...
  nz-progress([nzPercent]="loadingValue", [nzShowInfo]="false")

nz-result([class.soap-display]="!loading", nzStatus="success", nzTitle="Module built successfully!", nzSubTitle="You can now use it in your workflows")
  div(nz-result-extra)
    button(nz-button, nzType="primary", routerLink="/studio/new", (click)="done()") Back to workflow
