@import "variables";

:host {
  display: flex;
}

button {
  margin-left: 20px;
}

p {
  margin: 0;

  span {
    font-weight: 700;
  }
}

#ryax-auth-menu {
  display: flex;
  align-items: center;
  margin-left: 60px;
  position: relative;
  height: 80px;

  a {
    color: $grey9;
    font-weight: 600;
  }

  &:hover ul {
    transform: translateY(0);
    opacity: 1;
  }

  ul {
    opacity: 0;
    z-index: -1;
    transition: 0.5s all;
    transform: translateY(-100%);
    list-style: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: $grey1;
    padding: 5px 0;
    min-width: 150px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    li:not(:first-child) {
      border-top: #D4D0E1 1px solid;
    }

    a {
      padding: 12px 20px;
      font-size: 1rem;
      display: block;
      text-align: left;
    }
  }
}

nz-card {
  display: flex;
  align-items: center;
}

nz-card::ng-deep .ant-card-body {
  padding: 12px;
  background-color: $grey1;
  display: flex;
  align-items: center;
}
