nz-spin {
  height: calc(100vh - 122px);
}

div {
  display: flex;
  align-items: baseline;
}

div ryax-create-workflow {
  margin-left: auto;
}

a {
  font-size: 1rem;
  margin-left: 8px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 300px;
  margin: 8px;
}
