// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
div
  h1 Your workflows
  a((click)="refreshList()")
    i(nz-icon, nzType="redo", nzTheme="outline")

  ryax-create-workflow(*ngIf="(workflowList$ | async)?.length") New workflow

nz-spin([nzSpinning]="workflowListLoading$ | async", nzTip="Loading workflows...")
  ul(*ngIf="(workflowList$ | async)?.length || (workflowListLoading$ | async) else noWorkflows")
    li(*ngFor="let workflow of workflowList$ | async")
      a([routerLink]="'/workflow/' + workflow.id")
        ryax-workflow-card([workflow]="workflow")
  ng-template(#noWorkflows)
    nz-empty(nzNotFoundImage="simple", [nzNotFoundContent]="'No workflows yet ?'",
      [nzNotFoundFooter]="createWorkflow")

  ng-template(#createWorkflow)
    ryax-create-workflow Create one now
