// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
form(nz-form, [nzLayout]="'vertical'", [formGroup]="validateForm", (ngSubmit)="submitForm()")
  .ryax-centering
    p
      span Current Email:&nbsp;&nbsp;
      | {{(user$ | async)?.email}}
  .ryax-centering
    nz-form-item
      nz-form-label([nzSpan]="300", nzRequired) New E-mail
      nz-form-control([nzSpan]="300", nzHasFeedback, nzErrorTip="Please input a valid E-mail!")
        input(nz-input type="email", formControlName="email", (ngModelChange)="validateConfirmEmail()")
    nz-form-item
      nz-form-label([nzSpan]="300", nzRequired) Confirm E-mail
      nz-form-control([nzSpan]="300", nzHasFeedback, [nzErrorTip]="passwordErrorTpl")
        input(nz-input type="email" formControlName="confirm" placeholder="confirm your e-mail")
        ng-template(#passwordErrorTpl let-control)
          ng-container(*ngIf="control.hasError('required')") Please confirm your E-mail!
          ng-container(*ngIf="control.hasError('confirm')") E-mail is inconsistent!
  .ryax-centering
    button(nz-button, nzType="primary", [disabled]="!validateForm.valid") Save
    button(nz-button, (click)="cancel()") Cancel

