form p {
  font-weight: bold;

  span {
    margin-left: 20px;
  }
}

nz-form-control {
  .ryax-key {
    width: 142px;
    margin-right: 8px;
  }

  .ryax-value {
    width: 542px;
    margin-right: 8px;
  }
}
