@import "variables";

:host {
  display: flex;
  height: calc(100vh - 80px);
}

aside {
  width: 352px;
  background: #FFFFFF;
  border-left: 1px solid #E8E8EB;

  .ryax-part {
    padding: 24px;
    border-bottom: 1px solid #E8E8EB;

    h2 {
      margin-bottom: 1em;
      font-weight: 700;
    }

    p {
      color: $grey6;
    }

    :last-child, p {
      margin: 0;
    }

  }
}

section {
  flex: 1;
  padding: 42px 64px;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    min-width: 212px;
    max-width: 432px;
    width: calc(33.333% - 16px);
    flex-grow: 1;
    margin: 8px;
  }
}
