// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-spin([nzSpinning]="workflowLoading$ | async", nzTip="Loading workflow...")
  div(*ngIf="(workflow$ | async) as workflow", nz-row)
    aside(nz-col, nzSpan="11")
      a(routerLink="/dashboard", nz-button, [nzGhost]="true", nzType="default", nzSize="small")
        i(nz-icon, nzType="arrow-left", nzTheme="outline")
        | Dashboard
      #ryax-workflow-title
        h1 {{ workflow.name }}
        ryax-deployment-tag([status]="workflow.deploymentStatus")

      nav
        ul#ryax-panels
          li
            a(routerLink="overview", routerLinkActive="ryax-active") Overview
          li
            a(routerLink="executions", routerLinkActive="ryax-active") Runs
        #ryax-wf-buttons
          ng-container(*ngIf="(workflowStatus$ | async) === 'Valid'")
            ryax-has-roles([roles]="studioRoles")
              a(nz-button, nzGhost, nzType="primary", [routerLink]="'/studio/' + workflow.id") Edit
            button(, nz-button, nzType="primary", (click)="deploy()") Deploy
          ng-container(*ngIf="(workflowStatus$ | async) === 'Invalid'")
            ryax-has-roles([roles]="studioRoles")
              a(nz-button, nzType="primary", [routerLink]="'/studio/' + workflow.id") Edit
          ng-container(*ngIf="(workflowStatus$ | async) === 'Deploying'")
            button(nz-button, nzType="primary", nzGhost, (click)="stop()") Stop
            button(nz-button, nzType="primary", disabled) Deploying...
          ng-container(*ngIf="(workflowStatus$ | async) === 'Deployed'")
            button(nz-button, nzType="primary", nzGhost, (click)="stop()") Undeploy
            a(*ngIf="workflow.hasForm", nz-button, nzType="primary", [routerLink]="'/execution/' + workflow.id + '/form'") New run
          ng-container(*ngIf="(workflowStatus$ | async) === 'Error'")
            button(nz-button, nzType="primary", (click)="stop()") Undeploy
          button(nz-button, nz-dropdown, [nzDropdownMenu]="extraActions")
            i(nz-icon, nzType="more", nzTheme="outline")
          nz-dropdown-menu(#extraActions="nzDropdownMenu")
            ul(nz-menu)
              li(nz-menu-item, (click)="export()") Export
              li(nz-menu-item, (click)="duplicate()") Duplicate
              li(*ngIf="(workflowStatus$ | async) === 'Valid' || (workflowStatus$ | async) === 'Invalid'",
                nz-menu-item, nzDanger, (click)="delete()") Delete

      nz-card(*ngIf="workflow.description")
        h2 How do you use your use case
        p {{ workflow.description }}

      nz-card
        div
          h2 Last run
          p {{ workflowExecutionLength$ | async }} runs
          a#ryax-refresh((click)="refreshRuns()")
            i(nz-icon, nzType="redo", nzTheme="outline")
          a(routerLink="executions") See all

      nz-card#ryax-results
        h2 Results
        ng-container(*ngIf="(resultsConfig$ | async)?.length; else noResult")
          p(*ngFor="let result of (resultsConfig$ | async)")
            span {{ result.key }}:
            | {{ result.description }}
        ng-template(#noResult)
          p This workflow returns no result

    section(nz-col, nzSpan="12", nzOffset="1")
      router-outlet
