:host {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 314px 0 64px;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1600px) {
    padding: 258px 0 64px;
  }
}

div {
  text-align: center;
}
