// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
nz-card([nzBodyStyle]="{ padding: '0 8px 0 0', display: 'flex', 'align-items': 'center' }", [class.ryax-active]="active")
  .ryax-card-content
    .ryax-module-icon
      img([src]="'/api/studio/static/logo/' + module.id")
    div
      p.ryax-card-title {{ module.name }}
      p.ryax-card-description {{ module.description }}
