// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
form(nz-form, [formGroup]="form")
  button(nz-button, nzType="primary", (click)="addOutput()") Add Input
  nz-form-item(*ngFor="let output of config; let i = index", [formGroupName]="output.id")
    nz-form-label([nzFor]="output.name")
      span Input {{ i }}
    button(nz-button, nzType="primary", nzDanger, (click)="removeOutput(output.id)")
      i(nz-icon, nzType="delete", nzTheme="outline")
    nz-form-control
      input(nz-input, type="text", formControlName="name", placeholder="Input Name")
      nz-select(formControlName="type", nzPlaceHolder="Input Type")
        nz-option(*ngFor="let type of outputTypes", [nzValue]="type", [nzLabel]="type")
      input(nz-input, type="text", formControlName="help", placeholder="Input Help")
      //ng-container(*ngIf="form.get(output.id + '.type')?.value === 'enum'")
      //  button(nz-button, nzType="default", (click)="addValue(output.id)") Add value
      //  ng-container(formArrayName="possibleValues")
      //    input(*ngFor="form.get(output.id + '.possibleValues').controls; let i = index", nz-input, type="text", [formControlName]="i" , placeholder="Value 1")
