:host {
  display: block;
}

nz-form-label {
  width: 100%;
  text-align: left;
}

nz-input-number {
  width: 100%;
}

button.ryax-auth {
  margin-top: 12px;
}

.soap-input {
  flex: 0;
  margin-right: 4px;

  nz-select {
    min-width: auto;
  }
}

.ryax-output-label {
  display: flex;
  justify-content: space-between;
}

nz-form-label {
  width: calc(100% - 36px);
}
