// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
.soap-building([class.soap-display]="loading")
  h1 Building ...
  nz-progress([nzPercent]="loadingValue", [nzShowInfo]="false")

nz-result([class.soap-display]="!loading", nzStatus="success", nzTitle="Workflow built successfully!", nzSubTitle="Your work is now up and running!")
  div(nz-result-extra)
//button(nz-button, nzType="primary", routerLink="/dashboard", (click)="done()") Back to dashboard
