:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 500px);
}

h1 {
  text-align: center;
}

nz-progress {
  display: block;
  width: 60vw;
}

.soap-building, nz-result {
  opacity: 0;
  transition: all .5s;
  position: absolute;
}

nz-result {
  transition-delay: .5s;
}

.soap-display {
  opacity: 1;
}
